*log
key.py
*.txt
!requirements.txt
*.html
*.ipynb
__pycache__
venv
*.DS_Store
*.egg-info
*sqlite_db
.vscode
801-content/
*secrets/
logos/
cache/
data/
docker_build.sh
docker_local_build.sh
*-bak
orig-environment.yml
update_deps.py
